body{
    display: flex;
    height: 90vh;
    width: 90vw;
    justify-content: center;
    align-items: center;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 2rem;
  }
  
  .ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    animation: 2s bounce ease infinite;
  }
  
  .blue {
    background-color: #4285F5;
  }
  
  .red {
    background-color: #EA4436;
    animation-delay: .25s;
  }
  
  .yellow {
    background-color: #FBBD06;
    animation-delay: .5s;
  }
  
  .green {
    background-color: #34A952;
    animation-delay: .75s;
  }
  
  @keyframes bounce {  
      50% {
          transform: translateY(25px);
      }
  }